# GitHub Configuration
GITHUB_APP_ID=
GITHUB_PRIVATE_KEY_PATH=
GITHUB_WEBHOOK_SECRET=
GITHUB_PAT= # Alternative to GitHub App, use a Personal Access Token

# LLM Configuration
GEMINI_API_KEY=

# Server Configuration
HOST=0.0.0.0
PORT=8000
